<template>
  <div class="flex window-height relative-position" id="about">

    <div class="row">

      <div class="col-12 absolute-center">

        <h3>About me</h3>
        <br><br>
        <p>An investment in knowledge pays the best interest. - Benjamin Franklin

        ---
        My single largest skill is the ability to learn difficult concepts quickly and effectively.
        I deserve a chance, and my track record proves why:
        ---

        Cooking: Started as dishwasher, within a year head sous chef of one of the top 100
        restaurants in North America,
        leading to one of the most lucrative years in the restaurant's entire history.

        Modding: Didn't even know Java when I started, much less Forge and MC's internals,
        but my works have now been downloaded over 15 million times.

        Professional: Didn't know anything about website testing, much less
        Chrome extensions and DOM manipulation,
        yet in mere months I lead a team to develop a tool to save a
        multinational company over $750k annually.

        Academics: I've graphed my GPA over time, you can see the consistent increase over time
        (despite increased courseloads).
        Culminated in a 18 credit semester of all high level CS classes,
        while also working on capstone, modding, and job searches,
        and still achieved a flawless 4.0 GPA.
        </p>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'About',
};
</script>

<style lang="stylus" scoped>
  @import '~variables'
  #about
    background-color: $primary
    color floralwhite
</style>
