<template>
  <div class="flex window-height relative-position" id="contact">

    <div class="row">

      <div class="col-12 absolute-center">

        <h3>Contact me</h3>
        <br><br>
        <p>Test</p>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'Contact',
};
</script>

<style lang="stylus" scoped>
  @import '~variables'
  #contact
    background-color: $primary
    color floralwhite
</style>
