<template>
  <div class="flex window-height relative-position" id="cover">

    <div class="row">

      <div class="col-12 absolute-center">

        <!--<img id="bg-img" class="window-height window-width" src="~assets/277H-min.jpg">-->
        <h3>Hi, I'm Text</h3>
        <br><br>
        <p>I'm in the center of this element.</p>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'ContainerSection',
};
</script>

<style lang="stylus" scoped>
  #cover
    background no-repeat center
    background-image: url("~assets/bg-skyscape-min.jpg")
    background-size cover
    height 100%
    width 100%
    max-height 100%
    max-width 100%
    color floralwhite
</style>
