<template>
  <q-page no-scroll>

    <!--Main banner image with action button-->
    <app-hero/>

    <!--Brief abstract about me section-->
    <app-about/>

    <!--Brief highlight summary-->
    <app-highlights/>

    <!--Testimonials-->
    <app-testimonials/>

    <!--Links to other portfolio segments (general dev + game dev)-->
    <app-links/>

    <!--Contact form/info-->
    <app-contact/>

  </q-page>

</template>

<style lang="stylus" scoped>

</style>

<script>
import Hero from "../components/main-page/Hero";
import About from "../components/main-page/About";
import Highlights from "../components/main-page/Highlights";
import Testimonials from "../components/main-page/Testimonials";
import Links from "../components/main-page/Links";
import Contact from "../components/main-page/Contact";

export default {
  name: 'PageIndex',
  components: {
    appHero: Hero,
    appAbout: About,
    appHighlights: Highlights,
    appTestimonials: Testimonials,
    appLinks: Links,
    appContact: Contact,
  },
};
</script>
