<template>
  <!--Fixed Header and Footer, fixed Left toolbar-->
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary" glossy>

        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen">
          <q-icon name="fas fa-bars"/>
        </q-btn>

        <q-toolbar-title>
          My Name
          <div slot="subtitle">Personal Website</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen" content-class="bg-primary" glossy>
      <q-list no-border link inset-delimiter>
        <q-list-header>Essential Links</q-list-header>
        <q-item @click.native="openURL('https://www.linkedin.com/in/maxwason')">
          <q-item-side icon="fab fa-linkedin" />
          <q-item-main label="LinkedIn" sublabel="https://www.linkedin.com/in/maxwason" />
        </q-item>
        <q-item @click.native="openURL('https://discord.gg/2gkhaFu')">
          <q-item-side icon="far fa-comment" />
          <q-item-main label="Discord Chat Channel" sublabel="https://discord.gg/2gkhaFu" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <!--<q-layout-footer>-->
    <q-toolbar color="primary" glossy>
      <q-toolbar-title>
        My Name
        <div slot="subtitle">Personal Website - Footer</div>
      </q-toolbar-title>
    </q-toolbar>
    <!--</q-layout-footer>-->

  </q-layout>
</template>

<script>
import { openURL } from 'quasar';

export default {
  name: 'LayoutDefault',
  data() {
    return {
      leftDrawerOpen: false,
    };
  },
  methods: {
    openURL,
  },
};
</script>

<style>
</style>
